@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-gray-900 transition ease-in duration-200 text-gray-300 hover:bg-gray-700/60 rounded-md px-3 py-2 text-sm;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-br from-slate-950 via-red-700 to-yellow-400;
  }
}

html * {
  @apply scrollbar scrollbar-thin scrollbar-thumb-sky-400;
}

body {
  @apply gradient text-slate-50 w-screen h-screen overflow-hidden;
}

main {
  @apply flex flex-col w-full h-full bg-slate-950/95;
}

svg {
  @apply transition duration-200 ease-in;
}
svg:hover {
  @apply text-sky-400;
  filter: drop-shadow(0px 0px 20px #38bdf8);
}
